@media screen and (max-width: 460px) {
   #header-wrapper {
      text-align: left !important;
      padding-left: 15px !important;
   }
}

@media screen and (max-width: 675px) {
   .day {
      width: 100% !important;
      height: 90px !important;
   }

   #day-names {
      display: none !important;
   }

   .empty {
      display: none !important;
   }

   #day-popup {
      margin-top: 120px !important;
   }
}
